* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #666666;
  background: #eaeff4;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  display: flex;
  background: #ffffff;
  box-shadow: 0 0 5px #999999;
}

.col-left,
.col-right {
  padding: 30px;
  display: flex;
}

.col-left {
  width: 60%;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background: #2aa15f;
}

.col-right {
  padding: 60px 30px;
  width: 50%;
  margin-left: -10%;
}

.signup-text {
  width: 100%;
  color: #ffffff;
}

.signup-text h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
}

.signup-text p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.signup-text .btn {
  display: inline-block;
  padding: 7px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: 0.3s;
}

.signup-form {
  width: 100%;
}

.signup-form h2 {
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 700;
}

.signup-form p {
  margin: 0 0 10px 0;
  text-align: left;
  color: #666666;
  font-size: 15px;
}

.signup-form p:last-child {
  margin: 0;
  padding-top: 3px;
}

.signup-form p a {
  color: #2aa15f;
  font-size: 14px;
  text-decoration: none;
}

.signup-form label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
}

.signup-form p:last-child label {
  width: 60%;
  float: left;
}

.signup-form label span {
  color: #ff574e;
  padding-left: 2px;
}

.signup-form h2 {
  text-align: center;
}

#center {
  text-align: center;
}

#register {
  font-weight: bold;
}

.signup-form input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 30px;
}

.signup-form input:focus {
  border-color: #089820;
}

.signup-form input[type="submit"]:hover {
  color: #ffffff;
  box-shadow: inset 350px 0 0 0 #2aa15f;
}

.signup-form button,
.signup-form input[type="submit"] {
  width: 100%;
  margin-top: 5px;
  color: #2aa15f;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #2aa15f;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #2aa15f;
  transition: 0.3s;
}

.social-links {
  margin-top: 20px;
  text-align: center;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
}

.social-links img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .container {
    margin: 20px auto;
  }
}
